[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="mysql-{{ env }}.awsdevops.sbs"
Environment=NEW_RELIC_APP_NAME=backend
Environment=NEW_RELIC_LICENSE_KEY=3a7f2af24643c2860a07a642bbdf3e6cFFFFNRAL
ExecStart=/bin/node -r newrelic /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target


