  -  name: Install nginx
     ansible.builtin.dnf:
       name: nginx
       state: present


  -  name: Copy Expense config
     ansible.builtin.template:
       src: expense.conf
       dest: /etc/nginx/default.d/expense.conf


  -  name: Import App pre-requisties
     ansible.builtin.import_role:
       name: common
       tasks_from: app-pre-req



#  -  name: Enable and restart Nginx service
#     ansible.builtin.systemd_service:
#       name: nginx
#       enabled: true
#       state: restarted

  -  name: Enable and restart Nginx service
     ansible.builtin.systemd_service:
       state: started
       name: nginx
       enabled: yes

