- name: Clean old content
  ansible.builtin.file:
    path: "{{ app_loc }}"
    state: absent



- name: Create App Directory
  ansible.builtin.file:
    path: "{{ app_loc }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_user }}"
    mode: '0755'

- name: Download and extract the  app content
  ansible.builtin.unarchive:
    src: https://expense-artifacts.s3.amazonaws.com/expense-{{ component }}-v2.zip
    dest: "{{ app_loc }}"
    remote_src: yes
    owner: "{{ app_user }}"
    group: "{{ app_user }}"