
{
    metrics
}

:80 {

    root * /app
    file_server

    handle /health {
        respond "ok" 200
    }

    handle_path /api/* {
        reverse_proxy backend-{{ env }}.awsdevops16297.sbs:8080
    }

    log {
        format json
        output stdout
    }
}